@import "tailwindcss";

@font-face {
  font-family: 'Clash Grotesk';
  src: url('/src/assets/fonts/ClashGrotesk/ClashGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('/src/assets/fonts/ClashGrotesk/ClashGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('/src/assets/fonts/ClashGrotesk/ClashGrotesk-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('/src/assets/fonts/ClashGrotesk/ClashGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Clash Grotesk';
  src: url('/src/assets/fonts/ClashGrotesk/ClashGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body{
  font-family:  'Clash Grotesk', sans-serif;
}